package ${package.Controller};
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import ${package.Entity}.${entity};
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import java.util.List;
import java.util.Map;
#if(${restControllerStyle})
#else
#end
#if(${superControllerClassPackage})
    ${superControllerClassPackage};

#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 */
@Api(tags = {"${table.comment}"}, produces = "${table.comment}相关接口")
@ApiIgnore
@AllArgsConstructor
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping(value = "#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end", produces = MediaType.APPLICATION_JSON_VALUE)
#if(${superControllerClass})
@Validated
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

@Autowired
private ${table.serviceName} ${table.entityPath}Service;

/**
    * 查询分页数据
    */
@ApiOperationSupport(params = @DynamicParameters(name = "objmap", properties = {
        @DynamicParameter(name = "page", value = "页码", example = "1", required = true, dataTypeClass = Integer.class),
        @DynamicParameter(name = "limit", value = "每页条数", example = "10", required = true, dataTypeClass = Integer.class),
        @DynamicParameter(name = "field", value = "排序的字段名", example = "create_Time", dataTypeClass = String.class),
        @DynamicParameter(name = "order", value = "asc or desc", example = "desc", dataTypeClass = String.class),
        @DynamicParameter(name = "entityList", value = "实体类名", example = "['admin','user']", dataTypeClass = List.class),
        @DynamicParameter(name = "searchRelation", value = "搜索多个条件", example = "['eq','or']", dataTypeClass = List.class),
        @DynamicParameter(name = "searchname", value = "实体类名成+字段名称：字段值", example = "{'admin_id':1,'admin_name':'张三'}", dataTypeClass = String.class),
        @DynamicParameter(name = "Type", value = "筛选类型 +字段名称：字段值", example = "{'admin_state':1}", dataTypeClass = String.class)
}))
@ApiOperation(value = "查询分页数据", httpMethod = "GET",
        notes = "searchRelation 与 searchname 一一对应 , 否则不生效\n" +
        "字段名如下\n" +
    #foreach($field in ${table.fields})
            "       ${field.propertyName}  ${field.comment} \n" #if($foreach.hasNext)+#end
    #end
)
        @RequestMapping(value = "/list", method = RequestMethod.GET)
public Msg findListByPage(@RequestBody Map<String, Object> objmap){
        return  ${table.entityPath}Service.findListByPage((int)objmap.get("page"),(int)objmap.get("limit"),(String)objmap.get("field"),(String)objmap.get("order"),(List<String>)objmap.get("searchRelation"),(Map<String, Object>)objmap.get("searchname"),(Map<String, Object>)objmap.get("Type"));
        }


@ApiOperation(value = "查看${table.comment}列表", httpMethod = "GET",
        notes = "模糊搜索 客户名称，手机号，筛选条件为禁用", protocols = "http")
@ApiImplicitParams({
        @ApiImplicitParam(name = "searchname", value = "模糊搜索：客户名称，手机号"),
        @ApiImplicitParam(name = "Type", value = "筛选：是否禁用")})

@RequestMapping(value = "/SelectList", method = RequestMethod.POST)
public Msg SelectList(@RequestParam(name = "page", defaultValue = "1") Integer page,
@RequestParam(name = "limit", defaultValue = "10") Integer limit,
@RequestParam(name = "field", required = false) String field,
@RequestParam(name = "order", required = false) String order,
@RequestParam(name = "searchname", required = false) String searchname,
@RequestParam(name = "Type", required = false) Integer Type
        ) {
        Msg msg = ${table.entityPath}Service.SelectList(page, limit, field, order, searchname, Type);
        return msg;
        }
/**
 * 根据id查询
 */
@ApiOperation(value = "根据id查询数据")
@RequestMapping(value = "/getById", method = RequestMethod.GET)
public Msg getById(@RequestParam("pkid") String pkid){
        return  ${table.entityPath}Service.getById(pkid);
        }

/**
 * 新增
 */
@ApiOperation(value = "新增数据")
@RequestMapping(value = "/add", method = RequestMethod.POST)
public Msg add(@RequestBody ${entity} ${table.entityPath}){
        return  ${table.entityPath}Service.add(${table.entityPath});
        }

/**
 * 删除
 */
@ApiOperation(value = "删除数据")
@RequestMapping(value = "/del", method = RequestMethod.DELETE)
public Msg delete(@RequestParam("ids") List<String> ids){
        return  ${table.entityPath}Service.delete(ids);
        }

/**
 * 修改
 */
@ApiOperation(value = "更新数据")
@RequestMapping(value = "/update", method = RequestMethod.PUT)
public Msg update(@RequestBody ${entity}  ${table.entityPath}){
        return  ${table.entityPath}Service.update(${table.entityPath});
        }


        }
